.videoplayer__videodetails{
    width: 50%;
    height: 45rem;
}

.videoplayer__videoinfo {
    height: 20rem;
    overflow: scroll;
    color: aliceblue;
}

.videoplayer__videoinfo::-webkit-scrollbar {
    display: none;
}

.videoplayer {
    position: absolute;
    left: 5%;
    top: 25%;
}