.user_comments {
    position: absolute;
    width: 50%;
    top: 165%;
}

.no_user {
    position: absolute;
    width: 50%;
    position: absolute;
    top: 140%;
    left: 0%;
    font-size: x-large;
    padding: 10px;
    width: 50%;
    background-color: aliceblue;
}