.error {
  color: red;
}

.container {
  background-color: #68BBE3;
}

.form label {
  text-align: left;
  margin: 20px;
}

.login_hdr {
  width: 100%;
  text-align: justify;
  font-size: x-large;
  background-color: #0E86D4;
  padding: 20px;
  color: aliceblue;
}